.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 35px;
    background-color: #2874f0;
    color: white;
    cursor: pointer;
}

.my-2 {
    margin: 25px 0 0 0;
}

.text-center{
    text-align: center;
}